apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-nypqnwgn
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-nypqnwgn:9bc09287e1564323359f31c9f0d463e14bd23922@sha256:be5917cee63afad2b2a3e3ec8597f1952e6a0647e5dd11a6d5f5b38fb7a7ebfa
        name: container-image  
